<div class="w-full ">
    <div class="mx-auto mt-16 text-gray-600 lg:w-2/3 y-border">
        <p class="w-full text-lg font-black tracking-wider lg:text-2xl">Restaurantes en:</p>
        <div class="flex flex-col w-full lg:flex-row">
          <span class="flex flex-row w-full lg:w-2/3 lg:flex-row">
            <div class="flex flex-col w-1/2 mb-32 lg:w-1/2">
              <p class="w-full mt-2 font-bold tracking-widest text-md lg:text-xl">BAJA CALIFORNIA</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Los Cabos</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Mexicalli</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Los Tijuana</p>

              <p class="w-full py-8 font-bold tracking-widest lg:text-xl text-md">CHIHUAHUA</p>
              <p class="w-full font-bold tracking-widest lg:text-xl text-md">CIUDAD DE MÉXICO</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Centro Historico</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Coyoacán</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Insurgentes</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en La Condesa</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en La Roma</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Lomas de Chapultepec</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Palmas</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Polanco</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Pedregal</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Reforma</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Santa Fé</p>

              <p class="w-full mt-8 font-bold tracking-widest lg:text-xl text-md">ESTADO DE MÉXICO</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Interlomas</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Metepec</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Satélite</p>

              <span class="lg:hidden">
                <p class="w-full mt-2 font-bold tracking-widest lg:text-xl text-md">GUANAJUATO</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Léon</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en San Miguel de Allende</p>
                <p class="w-full mt-8 font-bold tracking-widest lg:text-xl text-md">GUERRERO</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Acapulco</p>

                <p class="w-full mt-8 font-bold tracking-widest lg:text-xl text-md">JALISCO</p>

                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Guadalajara</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Puerto Vallarta</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Zapopan</p>
              </span>

            </div>

            <div class="flex flex-col w-1/2 lg:w-1/2 ">
              <span class="hidden lg:block">
                <p class="w-full mt-2 font-bold tracking-widest lg:text-xl text-md">GUANAJUATO</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Léon</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en San Miguel de Allende</p>
                <p class="w-full mt-8 font-bold tracking-widest lg:text-xl text-md">GUERRERO</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Acapulco</p>

                <p class="w-full mt-8 font-bold tracking-widest lg:text-xl text-md">JALISCO</p>

                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Guadalajara</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Puerto Vallarta</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Zapopan</p>
              </span>




              <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">MICHOACÁN</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Morelia</p>

              <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">MONTERREY</p>

              <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">MORELOS</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en La Cuernavaca</p>
              <p class="w-full mt-6 font-bold tracking-widest lg:text-xl text-md">OAXACA</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Centro de Oaxaca</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Huatulco</p>
              <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Puerto Escondidio</p>


              <div class="flex flex-col w-full lg:w-1/3 lg:hidden">
                <p class="w-full mt-2 font-bold tracking-widest lg:text-xl text-md">PUEBLA</p>
                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">QUÉRETARO</p>
                <p class="w-full mt-8 font-bold tracking-widest lg:text-xl text-md">QUINTANA ROO</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Cancún</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Playa del Carmen</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Playa del Tulum</p>
                <p class="w-full mt-8 font-bold tracking-widest lg:text-xl text-md">SAN LUIS POTOSÍ</p>
                <p class="w-full mt-8 font-bold tracking-widest lg:text-xl text-md">SONORA</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Hermosillo</p>

                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">VERACRUZ</p>

                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">YUCATÁN</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Mérida</p>
            </div>

            </div>
          </span>


            <div class="flex flex-col hidden w-full lg:w-1/3 lg:block">
                <p class="w-full mt-2 font-bold tracking-widest lg:text-xl text-md">PUEBLA</p>
                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">QUÉRETARO</p>
                <p class="w-full mt-8 font-bold tracking-widest lg:text-xl text-md">QUINTANA ROO</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Cancún</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Playa del Carmen</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Playa del Tulum</p>
                <p class="w-full mt-8 font-bold tracking-widest lg:text-xl text-md">SAN LUIS POTOSÍ</p>
                <p class="w-full mt-8 font-bold tracking-widest lg:text-xl text-md">SONORA</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Hermosillo</p>

                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">VERACRUZ</p>

                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">YUCATÁN</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Mérida</p>

            </div>
        </div>

        <div class="flex flex-col w-full lg:flex-row">
          <span class="flex flex-row w-full py-8 lg:py-0 lg:w-2/3 y-border">
            <div class="w-1/2">
              <p class="w-full text-lg font-black tracking-wider lg:text-2xl">Antros en:</p>
                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">CIUDAD DE MÉXICO</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en La Condesa</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en La Roma</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en La Santa Fé</p>

                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">ESTADO DE MÉXICO</p>
                <p class="w-full text-sm font-medium lg:text-md">Restaurantes en Satélite</p>

                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">QUINTANA ROO</p>

            </div>

            <div class="w-1/2">
              <p class="w-full text-lg font-black tracking-wider lg:text-2xl">Bares en:</p>
                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">CIUDAD DE MÉXICO</p>

                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">ESTADO DE MÉXICO</p>
                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">QUINTANA ROO</p>
                <p class="w-full text-sm font-medium lg:text-md">Bares en Cancún</p>
                <p class="w-full text-sm font-medium lg:text-md">Bares en Playa del Carmen</p>

            </div>

          </span>


          <div class="w-1/3">
            <p class="w-full text-lg font-black tracking-wider lg:text-2xl ">Beach Clubs en:</p>
                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">QUINTANA ROO</p>
                <p class="w-full text-sm font-medium lg:text-md">Beach Clubs en Tulum</p>
                <p class="w-full text-sm font-medium lg:text-md">Beach Clubs en Playa del Carmen</p>
                <p class="w-full mt-4 font-bold tracking-widest lg:text-xl text-md">OAXACA</p>
                <p class="w-full text-sm font-medium lg:text-md">Beach Clubs en Playa Zipolite</p>
          </div>
        </div>

    </div>
</div>
