<div class="flex justify-center w-full h-72">
  <div class="flex flex-col h-full lg:w-2/3 ">
    <p class="w-full mt-4 font-bold tracking-wider lg:mt-16 lg:text-2xl">Reserva de manera segura con Reservándonos</p>
    <p class="w-full text-xl text-gray-600">Descubre lugares perfectos para cualquier ocasión</p>
    <div class="flex w-full">
      <div class="flex w-full h-16 mt-8 bg-white shadow-lg outline-none lg:h-24 rounded-xl backdrop-filter focus:border-none">

          <form class="w-full flex" action="">
            <span class="flex w-1/2">
              <img class="w-12 h-10 mt-6" src="/assets/img/search/ubicacion.png" />
              <div class="field w-full pb-6">
                <input type="text" name="fullname" id="fullname" placeholder="Jane Appleseed">
                <label for="fullname">Name</label>
              </div>
            </span>
            <span class="flex w-1/2">
              <img class="w-12 h-10 mt-6" src="/assets/img/search/search.png" />
              <div class="field w-full pb-6">
                <input type="text" name="ubicacion" id="ubicacion" placeholder="Jane Appleseed">
                <label for="ubicacion">Name</label>
              </div>
            </span>
          </form>

        <button class="w-20 bg-gray-600 rounded-lg shadow-lg lg:h-24 opacity-80 hover:opacity-100 ">
          <img class="mx-auto" src="/assets/img/search/magnify.png" alt="">
        </button>
      </div>
    </div>
  </div>
</div>

