
  <div class="w-full h-8 bg-salmon lg:hidden"></div>
<div class="bg-gray-100">
  <app-header></app-header>
  <img class="fixed w-12 right-40 top-1/2" src="assets/img/header/chat.png" alt="">
  <app-search-bar></app-search-bar>
</div>

<app-base-carousel></app-base-carousel>
<div class="w-full py-32">
  <img class="w-full lg:hidden" src="assets/img/section/bannerMobile.png" alt="">
  <img class="hidden w-2/3 mx-auto lg:block" src="assets/img/section/banner.png" alt="">
</div>
<app-carousel-two></app-carousel-two>
<div class="w-full py-32">
  <img class="w-full lg:hidden" src="assets/img/section/bannerMobileTwo.png" alt="">
  <img class="hidden w-2/3 mx-auto lg:block" src="assets/img/section/bannerTwo.png" alt="">
</div>
<div class="flex justify-start px-4 mx-auto mb-32 lg:w-2/3">
  <img class="w-32 h-32 lg:h-64 lg:w-64" src="assets/img/section/promociones.png" alt="">
  <span class="w-full px-4 text-gray-500 ">
    <p class="w-full h-full text-sm lg:mt-20 lg:text-2xl">
      Reserva ahora y accede a la cuponera digital de Coca-Cola A La Orden donde
      obtendrás códigos promocionales y tarjetas de regalo para tus siguientes visitas.
      Encuentra Todos los Restaurantes Participantes con la Insignia Coca-Cola.
    </p>
  </span>
</div>
<app-carousel-three></app-carousel-three>
<app-icon-banner></app-icon-banner>
<p class="mx-auto font-bold tracking-wider text-gray-600 lg:w-2/3 lg:text-2xl">Las principales cadenas de restaurantes, bares y antros ya trabajan con Reservándonos</p>
<app-carousel-four></app-carousel-four>
<app-text-wall></app-text-wall>
