<div class="w-full">
  <div class="mx-auto lg:w-2/3">
    <p class="w-full mt-4 ml-2 font-bold tracking-wider text-gray-600 lg:ml-0 lg:mt-10 lg:mb-8 lg:text-2xl">La Mejor Opción en un solo clic</p>
    <carousel
    class="px-4"
    [cellWidth]="275"
    [height]="375"
    [borderRadius]="30"

    >
      <div class="flex flex-col carousel-cell">
        <img class="" src="assets/img/carousels/carousel1.png">
        <p class="w-full px-2 text-xl font-bold text-gray-600">Fiesta toda la noche</p>
        <p class="w-full px-2 text-gray-400 text-md">Ven y disfruta del mejor ambiente y la diversión nocturna</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img src="assets/img/carousels/carousel2.png">
        <p class="w-full px-2 text-xl font-bold text-gray-600">¡Aquí en la Playa!</p>
        <p class="w-full px-2 text-gray-400 text-md">Desconéctate, del mundo con la fiesta y disfruta de la vista.</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img src="assets/img/carousels/carousel3.png">
        <p class="w-full px-2 text-xl font-bold text-gray-600">Restaurantes Destacados</p>
        <p class="w-full px-2 text-gray-400 text-md">Reserva en los mejores restaurantes y vive la mejor experiencia.</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img src="assets/img/carousels/carousel4.png">
        <p class="w-full px-2 text-xl font-bold text-gray-600">Promoción Coca-Cola</p>
        <p class="w-full px-2 text-gray-400 text-md">Desconéctate, del mundo con la fiesta y disfruta de la vista.</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img class="" src="assets/img/carousels/carousel1.png">
        <p class="w-full px-2 text-xl font-bold text-gray-600">Fiesta toda la noche</p>
        <p class="w-full px-2 text-gray-400 text-md">Ven y disfruta del mejor ambiente y la diversión nocturna</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img src="assets/img/carousels/carousel2.png">
        <p class="w-full px-2 text-xl font-bold text-gray-600">¡Aquí en la Playa!</p>
        <p class="w-full px-2 text-gray-400 text-md">Desconéctate, del mundo con la fiesta y disfruta de la vista.</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img src="assets/img/carousels/carousel3.png">
        <p class="w-full px-2 text-xl font-bold text-gray-600">Restaurantes Destacados</p>
        <p class="w-full px-2 text-gray-400 text-md">Reserva en los mejores restaurantes y vive la mejor experiencia.</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img src="assets/img/carousels/carousel4.png">
        <p class="w-full px-2 text-xl font-bold text-gray-600">Promoción Coca-Cola</p>
        <p class="w-full px-2 text-gray-400 text-md">Desconéctate, del mundo con la fiesta y disfruta de la vista.</p>
      </div>

    </carousel>

  </div>

</div>


