<div class="w-full px-4 mb-8">
  <carousel
  [cellWidth]="250"
  [height]="250"
  [borderRadius]="30"

  >
    <div class="carousel-cell ">
      <img class="" src="assets/img/countries/argentina.png">
    </div>
    <div class="carousel-cell ">
      <img class="" src="assets/img/countries/brasil.png">
    </div>
    <div class="carousel-cell ">
      <img class="" src="assets/img/countries/canada.png">
    </div>
    <div class="carousel-cell ">
      <img class="" src="assets/img/countries/chile.png">
    </div>
    <div class="carousel-cell ">
      <img class="" src="assets/img/countries/argentina.png">
    </div>
    <div class="carousel-cell ">
      <img class="" src="assets/img/countries/brasil.png">
    </div>
    <div class="carousel-cell ">
      <img class="" src="assets/img/countries/canada.png">
    </div>
    <div class="carousel-cell ">
      <img class="" src="assets/img/countries/chile.png">
    </div>

  </carousel>

</div>



