<div class="w-full">
  <div class="mx-auto font-extrabold lg:w-2/3">
    <p class="w-full my-8 font-bold tracking-wider text-gray-600 lg:text-2xl">Reserva en los mejores restaurantes, bares, antros y beach clubs de tu ciudad con Reservándonos</p>
    <carousel
    [cellWidth]="275"
    [height]="375"
    [borderRadius]="30"

    >
      <div class="flex flex-col carousel-cell">
        <img class="relative" src="assets/img/carousels/carousel9.png">
        <p class="absolute w-full h-full text-3xl text-center text-white top-40">Ciudad de <br> México</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img class="relative" src="assets/img/carousels/carousel10.png">
        <p class="absolute w-full h-full text-3xl text-center text-white top-40">Estado <br> de México</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img class="relative" src="assets/img/carousels/carousel11.png">
        <p class="absolute w-full h-full text-3xl text-center text-white top-40">Guadalajara</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img class="relative" src="assets/img/carousels/carousel12.png">
        <p class="absolute w-full h-full text-3xl text-center text-white top-40">Los Cabos</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img class="relative" src="assets/img/carousels/carousel9.png">
        <p class="absolute w-full h-full text-3xl text-center text-white top-40">Ciudad de <br> México</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img class="relative" src="assets/img/carousels/carousel10.png">
        <p class="absolute w-full h-full text-3xl text-center text-white top-40">Estado <br> de México</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img class="relative" src="assets/img/carousels/carousel11.png">
        <p class="absolute w-full h-full text-3xl text-center text-white top-40">Guadalajara</p>
      </div>
      <div class="flex flex-col carousel-cell">
        <img class="relative" src="assets/img/carousels/carousel12.png">
        <p class="absolute w-full h-full text-3xl text-center text-white top-40">Los Cabos</p>
      </div>

    </carousel>

  </div>

</div>


